<template>
    <div>
        <template>
            <div>
                <div class="four-zero-four-container">
                    <div class="error-code">404</div>
                    <div class="error-message">Esta pagina no existe</div>
                </div>
            </div>
        </template>
    </div>
</template>