<template>
    <div class="row">
        <div class="col s12 center">
            <div class="card-panel">
                <button class="btn green" @click="openNewModal()"><i class="material-icons">add_circle</i></button>
                <table class="highlight centered responsive-table">
                    <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Precio en dolares</th>
                        <th>Eliminar</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-if="products.length <= 0">
                        <td colspan="4">Sin resultados</td>
                    </tr>
                    <tr v-for="product in products">
                        <td @click="openViewModal(product)">{{ product.nombre }}</td>
                        <td @click="openViewModal(product)">{{ formatPrice(product.precio) }}</td>
                        <td @click="openViewModal(product)">{{ formatPrice(product.precio_dolares) }}</td>
                        <td>
                            <button class="btn red modal-trigger" data-target="confirmDeleteModal" @click="openModal(product)"><i class="material-icons">delete</i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <delete-modal-component :product="modalProduct"></delete-modal-component>
        <view-modal-component :product="modalProduct"></view-modal-component>
        <update-modal-component :product="modalProduct"></update-modal-component>
        <new-modal-component></new-modal-component>
    </div>
</template>

<script>
    export default {
        mounted(){
            this.getProducts();
            $('.modal').modal();
        },
        data() {
            return {
                url: '/api/productos',
                products: [],
                modalProduct: {}
            }
        },

        methods: {
            getProducts(){
                axios
                    .get(this.url)
                    .then(response => (this.products = response.data))
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', ',');
                return '$'+val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            },
            openModal(product){
                this.modalProduct = product;
            },
            newProduct(product){
                axios
                    .post(this.url, product);
                this.getProducts();
            },
            updateProduct(product){
                axios
                    .put(this.url+'/'+product.id, product);
                this.getProducts();
            },
            deleteProduct(id){
                axios
                    .delete(this.url+'/'+id);
                this.getProducts();
            },
            openNewModal(){
                $('#newModal').modal('open');
            },
            openUpdateModal(product){
                this.openModal(product);
                $('#updateModal').modal('open');
            },
            openViewModal(product){
                this.openModal(product);
                $('#viewModal').modal('open');
            },
        }
    }
</script>