<template>
<div>
    <nav class="blue">
        <div class="nav weapper">
            <div class="container">
                    <a href="" class="brand-logo center">Productos</a>
                <a href="" class="button-collapse sidenav-trigger hide-on-large" data-target="slide-out">
                    <i class="material-icons">menu</i>
                </a>
            </div>
        </div>

    </nav>

    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="/image1.jpeg" class="responsive-img">
                </div>
                <h4 class="white-text title">Web App Productos</h4>
                <br>
            </div>
        </li>

        <li>
            <a href="#"><i class="material-icons active">dashboard</i> Productos</a>
        </li>
    </ul>

    <main>
        <div class="container-fluid">
            <transition name="slide-fade" mode="out-in">
            <router-view :key="$route.fullPath"></router-view>
        </transition>
        </div>
    </main>
</div>
</template>

<script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
    });
</script>