<template>
    <div id="confirmDeleteModal" class="modal">
        <div class="modal-content">
            <h4>¿Esta seguro de eliminar el producto {{product.nombre}}?</h4>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close btn-flat red white-text" @click="deleteRow()">Si</a>
            <a href="#!" class="modal-close btn-flat green white-text">No</a>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['product'],
        methods: {
            deleteRow(){
                this.$parent.deleteProduct(this.product.id);
            }
        }
    }
</script>