<template>
    <div id="updateModal" class="modal">
        <div class="modal-content">
            <div class="row">
                <form @submit="submitForm()">
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="Nombre" id="name" v-model="product.nombre" type="text" class="validate">
                            <label for="name">Nombre</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="price" type="number" step="any" placeholder="Precio" v-model="product.precio" class="validate">
                            <label for="price">Precio</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 right-align">
                            <button class="modal-close btn-flat blue white-text" type="submit">Guardar</button>
                            <button class="modal-close btn-flat grey white-text" type="button">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['product'],
        methods: {
            submitForm(){
                this.$parent.updateProduct(this.product);
            }
        }
    }
</script>