<template>
    <div id="viewModal" class="modal">
        <div class="modal-content">
            <table class="center">
                <tr>
                    <td>nombre:</td>
                    <td>{{product.nombre}}</td>
                </tr>
                <tr>
                    <td>precio:</td>
                    <td>{{this.$parent.formatPrice(product.precio)}}</td>
                </tr>
                <tr>
                    <td>precio dolares:</td>
                    <td>{{this.$parent.formatPrice(product.precio_dolares)}}</td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close btn-flat blue white-text" @click="displayUpdateModal()">Editar</a>
            <a href="#!" class="modal-close btn-flat grey white-text">Cerrar</a>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['product'],
        methods: {
            displayUpdateModal(){
                this.$parent.openUpdateModal(this.product);
            }
        }
    }
</script>